{% from '_modals.html' import macro_modal_delete %}

{# render wtf fields vith validartion  #}
{% macro macro_render_field(field) %}
	<div class="form-label">
		{{ field.label(class="form-control-label mt-2") }}
		{% if field.errors %}
			{{ field(class="form-control is-invalid") }}
			<div class="invalid-feedback">
				{% for error in field.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ field(class="form-control", **kwargs)|safe }}
		{% endif %}
	</div>
{% endmacro %}

{# upload picture button #}
{% macro macro_upload_picture(field) %}
	{{ field.label }}
	{% if field.errors %}
		{{ field(class="form-control-file mb-2") }}
		{% for error in field.errors %}<br>
			<span class="text-danger">{{ error }}</span>
		{% endfor %}
	{% else %}
		{{ field(class="form-control-label mt-2", accept="image/*") }}
	{% endif %}
{% endmacro %}

{# render wtf fields with validartion  #}
{% macro macro_render_select_field(field) %}
	<div class="input-group w-25">
		{{ field.label(class="input-group-text") }}
		{% if field.errors %}
			{{ field(class="form-control is-invalid") }}
			<div class="invalid-feedback">
				{% for error in field.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ field(class="form-control", **kwargs)|safe }}
		{% endif %}
	</div>
{% endmacro %}

{# question add and edit macro #}
{% macro macro_question_input(action="", info="", title="", message="", tag_name="", image="", hidden_tag="", submit="") %}
	<div class="container mb-3">
		<h1>{{ info }} question</h1>
		<div class="modal-body">
			<form class="form-label" action="{{ action }}" method='POST' enctype="multipart/form-data">
				{{ hidden_tag }}
				{{ macro_render_field(title) }}
				{{ macro_render_field(message, rows=10) }}
				<div class="modal-footer">
					{{ macro_render_select_field(tag_name, class='form-select-sm') }}
					{{ macro_upload_picture(image) }}
					{{ submit(class="btn btn-primary my-2") }}
				</div>
			</form>
		</div>
	</div>
{% endmacro %}

{# votes add plus for positive #}
{%- macro macro_votes(question_votes="") %}
	{%- set votes = question_votes -%}
	{%- if votes >= 1 -%}
		+{{ votes }}
	{%- else -%}
		{{ votes }}
	{%- endif -%}
{%- endmacro -%}

{# answer or answers  plural/singular #}
{%- macro macro_answer_pl_sg(count_it='') -%}
	{%- set count_answers =  count_it -%}
	{%- if count_answers == 1 -%}
		answer {{ count_answers }}
	{% else -%}
		answers {{ count_answers }}
	{%- endif -%}
{%- endmacro -%}

{# submission time or edit time #}
{% macro macro_submission_time(data="") %}
	{% if data.edit_submission_time %}
		updated {{ data.edit_submission_time.strftime('%y-%m-%d') }}
	{% else %}
		posted {{ data.submission_time.strftime('%y-%m-%d') }}
	{% endif %}
{% endmacro %}

{# comment  plural/singular #}
{%- macro macro_comment_pl_sg(count_it='') -%}
	{%- set count_comment =  count_it %}
	{%- if count_comment == 1 -%}
		comment {{ count_comment }}
	{%- else -%}
		comments {{ count_comment }}
	{%- endif -%}
{%- endmacro -%}

{# pagination #}
{%- macro macro_pagination(data_type="", page_num="", previous="", route="", next="") -%}
	<nav class="mt-5" aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			{%- if data_type.has_prev -%}
				<li class="page-item">
					<a class="page-link" href="{{ previous }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{%- endif -%}
			{%- for page_num in data_type.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) -%}
				{%- if page_num -%}
					{%- if data_type.page == page_num %}
						<li class="page-item active">
							<a class="page-link" href="{{ url_for(route, page=page_num, **kwargs) }}">{{ page_num }}</a>
						</li>
					{%- else %}
						<li class="page-item">
							<a class="page-link" href="{{ url_for(route, page=page_num, **kwargs) }}">{{ page_num }}</a>
						</li>
					{%- endif %}
				{%- endif -%}
			{%- endfor -%}
			{% if data_type.has_next %}
				<li class="page-item">
					<a class="page-link" href="{{ next }}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
				</li>
			{%- endif %}
		</ul>
	</nav>
{%- endmacro -%}

{# count asnwers #}
{%- macro macro_count_answers(data="") -%}
	<div class="container border-bottom my-3 fs-3">
		{%- set count_answers = data.count() -%}
		{%- if count_answers == 1 %}
			{{ count_answers }} answer
		{%- else -%}
			{{ count_answers }} answers
		{%- endif -%}
	</div>
{%- endmacro %}

{# breadcrumbs#}
{%- macro macro_breadcrumbs(route=url_for('main.route_home'), data="") -%}
	<div class="container">
		<div class="breadcrumbs">
			<section class="container">
				<div class="row">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{ route }}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">{{ data.title }}</li>
						</ol>
					</nav>
				</div>
			</section>
		</div>
	</div>
{%- endmacro %}

{# macro image defalut #}
{% macro macro_image(data="") %}
	{% if data.image %}
		<img src="{{ url_for('static', filename='img/question_pic/'+data.image) }}" class="img-fluid" alt="pic">
	{% else %}
		<img src="{{ url_for('static', filename='img/question_pic/default_question.png') }}" class="img-fluid w-75" alt="pic">
	{% endif %}
{% endmacro %}

{# highlight search results #}
{%- macro macro_heihlight_search_pharse(column="", search_phrase="") -%}
	{% set style = '<span class="bg-warning">{}</span>' %}
	{%- if search_phrase -%}
		{% set strip_tags = column|striptags %}
		{{ strip_tags.replace(search_phrase, style.format(search_phrase)).replace(search_phrase|title, style.format(search_phrase|title))|safe }}
	{%- else -%}
		{{ column|truncate(270, True, '...') }}
	{%- endif -%}
{%- endmacro -%}

{# add comments #}
{% macro macro_add_comment(action="", comment_for="") %}
	<form class="row" action="{{ action }}" method="post">
		<div class="col-8 mt-2">
			<label for="{{ comment_for }}" class="visually-hidden">comment_for</label>
			<input type="text" class="form-control p-1" name="{{ comment_for }}" id="{{ comment_for }}" placeholder="add comment max 80 signs" maxlength="80" required>
		</div>
		<div class="col-2 mt-2">
			<button type="submit" class="btn btn-primary p-1">post</button>
		</div>
	</form>
{% endmacro %}

{# list comments #}
{% macro list_comments(item="", the_list="", data_target="", route_question="") %}
	<table class="table text-muted">
		<tbody>
		{% for item in the_list %}
			<tr>
				<td class="border-bottom-0">{{ item.message }} -
					<small class="text-muted"><a class="text-decoration-none" href="#">{{ func_user_info(user_id=item.user_id|int).user_name.split()[0] }}</a></small>
					<i data-bs-toggle="modal" data-bs-target="{{ data_target }}" class="fas fa-trash"></i>
					{{ macro_modal_delete(modal_id=data-bs-target, route=route_question ) }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{# generate list of questions#}
{% macro macro_generate_question_list(route_question="", item="", the_list="", search_phrase='', route_tag='questions.route_tag') %}
	{% for item in the_list.items %}
		<div class="card text-dark bg-light mt-3">
			<div class="card-header d-flex">
				<div class="col-10  fw-bold text-start">
					<span class="badge bg-success">{{ macro_votes(question_votes=item.vote_number) }}</span>&nbsp;
					<a class="text-decoration-none text-dark" href="{{ url_for(route_question, question_id=item.question_id) }}">{{ macro_heihlight_search_pharse(column=item.title, search_phrase=search_phrase)|truncate(115, True, '...') }}</a>
					<span class="badge bg-primary"><a class="link-light text-decoration-none" href="{{ url_for(route_tag, tag_id=item.tag_id) }}">{{ func_find_tag_name(item.tag_id|int).tag_name|e }}</a></span>
				</div>
				<ul class="col-2 list-inline text-end mb-0">
					<li class="list-inline-item">
						<small class="text-muted">{{ item.submission_time.strftime('%y-%m-%d') }}</small></li>
					<li class="list-inline-item"><small class="text-muted">{{ item.view_number }} views</small>
					</li>
					<li class="list-inline-item"></li>
				</ul>
			</div>
			<div class="card-body pb-1">
				<div class="row">
					<p class="card-text">{{ macro_heihlight_search_pharse(column=item.message, search_phrase=search_phrase) }}</p>
					<hr class="m-1">
					<ul class="list-inline text-end mb-0">
						<li class="list-inline-item">
							<span class="badge bg-success"> {{ macro_answer_pl_sg(func_count_answers(item.question_id|int)) }}</span>
						</li>
						<li class="list-inline-item">
							<span class="badge bg-secondary"> {{ macro_comment_pl_sg(func_count_comments(item.question_id|int)) }}</span>
						</li>
						<li class="list-inline-item">
							<span class="badge bg-dark"><a class="link-light text-decoration-none" href="{{ url_for('users.route_user', user_id=func_user_info(item.user_id|int).user_id) }}">{{ func_user_info(item.user_id|int).user_name.split()[0] }}</a></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
{% endmacro %}

{# sorting bar #}
{% macro sort_bar(route="", data="", order_direction="", search_resoult="", tag_name="") %}
	{%- if data.total == 0 %}
		<div class="container mt-3">
			<p>Your search - did not match any documents.</p>
			<p>Suggestions:</p>
			<ul>
				<li>Make sure that all words are spelled correctly.</li>
				<li>Try different keywords.</li>
				<li>Try more general keywords.</li>
			</ul>
		</div>
	{%- else -%}
		{%- if request.endpoint == 'users.route_users' -%}
			{%- set dict_sort_by = ({'Date': 'register_date', 'Name': 'user_name', 'Reputation': 'reputation'}) -%}
		{% else %}
			{%- set dict_sort_by = ({'Date': 'submission_time', 'Title': 'title', 'View': 'view_number', 'Votes': 'vote_number'}) -%}
		{%- endif %}
		<div class="container mt-3 px-0">
			<div class="row">
				<div class="col p-1 fs-3 ms-2">
					<p class="fs-5">
						{% if request.endpoint == 'main.route_home' %}{{ data.total }} questions
						{% elif request.endpoint == 'questions.route_tag' %}&nbsp;Tag {{ tag_name }}
						{% elif request.endpoint == 'questions.route_search' %}
							about {{ data.total }} results for: {{ search_resoult }}
							</p>
						{%- else -%}total users: {{ data.total }}
						{%- endif -%}
				</div>
				<div class="col text-end">
					<div class="btn-group" role="group" aria-label="Basic outlined">
						{% for item, value in dict_sort_by.items() -%}
							<a href="{{ url_for(route, page=data.page, order_by=value, order_direction=order_direction, **kwargs) }}" type="button" class="btn mt-0 btn-outline-primary">{{ item }}&nbsp;<i class="fas fa-sort"></i></a>
						{% endfor -%}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{%- endmacro -%}
{# macro block for already voted question #}
{%- macro macro_vote_question(current_user="", question_vote="", question="" ) -%}
	<div class="col-sm mb-2">
		{% if current_user.is_authenticated %}
			{% if question.user_id == current_user.user_id %}
				&nbsp;
			{% else %}
				{%- if question_vote.value('has_voted') == None %}
					<a href="{{ url_for('questions.route_question', question_id=question.question_id, questions_votes=-1, user_id = question.user_id) }}"><i class="far fa-thumbs-down btn btn-outline-danger"></i></a>&nbsp;&nbsp;
					<a href="{{ url_for('questions.route_question', question_id=question.question_id, questions_votes=+1, user_id = question.user_id) }}"><i class="far fa-thumbs-up btn btn-outline-success"></i></a>
				{%- elif question_vote.value('has_voted') > 0 %}
					<i class="far fa-thumbs-up text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="voted on {{ question_vote.value('vote_time') }}"></i>&nbsp;
				{%- elif question_vote.value('has_voted') < 0 %}
					<i class="far fa-thumbs-down text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="voted on {{ question_vote.value('vote_time') }}"></i>&nbsp;&nbsp;
				{%- endif %}
			{%- endif %}
		{%- else %}
			<i class="far fa-thumbs-down text-danger"></i>&nbsp;&nbsp;
			<i class="far fa-thumbs-up text-success"></i>
		{%- endif %}
	</div>
{%- endmacro -%}

{# macro answers plus / minus #}
{%- macro macro_answers_plus_minus(item="") -%}
	<div>
		<p class="text-center small">
			{%- if item.vote_number >= 1 -%}
				+{{ item.vote_number }}
			{%- else %}
				{{ item.vote_number }}
			{%- endif %}
		</p>
	</div>
{%- endmacro -%}

{# macro vote for answer #}
{% macro macro_vote_for_answer(current_user="", function="", question="", answer="") %}
	{% if current_user.is_authenticated %}
		{% if question.user_id == current_user.user_id %}
			<div class="col-1">
				<div class="row mt-3">
					<p class="text-center">
						<i class="fas fa-chevron-up"></i>
					</p>
				</div>
				{{ macro_answers_plus_minus(item=answer) }}
				<div class="row mb-3">
					<p class="text-center">
						<i class="fas fa-chevron-down"></i>
					</p>
				</div>
			</div>
		{% else %}
			{% if function.value('has_voted') == None %}
				<div class="col-sm-1 p-0 col-lg-1">
					<div class="row mt-3">
						<p class="text-center">
							<a href="{{ url_for('questions.route_question', question_id=question.question_id, answers_votes=+1, answer_id=answer.answer_id, user_id=answer.user_id) }}"><i class="fas fa-chevron-up"></i></a>
						</p>
					</div>
					{{ macro_answers_plus_minus(item=answer) }}
					<div class="row mb-3">
						<p class="text-center">
							<a href="{{ url_for('questions.route_question', question_id=question.question_id, answers_votes=-1, answer_id=answer.answer_id, user_id=answer.user_id) }}"><i class="fas fa-chevron-down"></i></a>
						</p>
					</div>
				</div>
			{%- elif function.value('has_voted') > 0 %}
				<div class="col-sm-1 p-0 col-lg-1">
					<div class="row mt-3">
						<p class="text-center">
							<i class="fas fa-chevron-up text-success" data-bs-toggle="tooltip" data-bs-placement="top" title="voted on {{ function.value('vote_time') }}"></i>
						</p>
					</div>
					{{ macro_answers_plus_minus(item=answer) }}
					<div class="row mb-3">
						<p class="text-center">
							<i class="fas fa-chevron-down"></i>
						</p>
					</div>
				</div>
			{%- elif function.value('has_voted') < 0 %}
				<div class="col-sm-1 p-0 col-lg-1">
					<div class="row mt-3">
						<p class="text-center">
							<i class="fas fa-chevron-up"></i>
						</p>
					</div>
					{{ macro_answers_plus_minus(item=answer) }}
					<div class="row mb-3">
						<p class="text-center">
							<i class="fas fa-chevron-down text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="voted on {{ function.value('vote_time') }}"></i>
						</p>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		<div class="col-1">
			<div class="row mt-3">
				<p class="text-center">
					<i class="fas fa-chevron-up"></i>
				</p>
			</div>
			{{ macro_answers_plus_minus(item=answer) }}
			<div class="row mb-3">
				<p class="text-center">
					<i class="fas fa-chevron-down"></i>
				</p>
			</div>
		</div>
	{% endif %}
{% endmacro %}


{# change question or answer score pill color #}
{% macro macro_score_color(data="") %}
	{% if   data.vote_number < 0 %}
		{% set color = 'danger' %}
	{% elif 0 <= data.vote_number < 30 %}
		{% set color = 'secondary' %}
	{% elif 30 < data.vote_number < 55 %}
		{% set color = 'warning' %}
	{% elif 55 < data.vote_number < 100 %}
		{% set color = 'primary' %}
	{% elif data.vote_number > 100 %}
		{% set color = 'success' %}
	{% endif %}
	<span class="badge bg-{{ color }}">{{ data.vote_number }}</span>
{% endmacro %}

{# change user reputation pill color #}
{% macro macro_reputation_color(data="", type="") %}
	{% if   data.reputation|int < 0 %}
		{% set color = 'danger' %}
	{% elif 0 <= data.reputation < 500 %}
		{% set color = 'secondary' %}
	{% elif 500 < data.reputation < 1000 %}
		{% set color = 'warning' %}
	{% elif 1000 < data.reputation < 2000 %}
		{% set color = 'primary' %}
	{% elif data.reputation > 2000 %}
		{% set color = 'success' %}
	{% endif %}
	{% if type == 'number' %}
		<span class="badge bg-{{ color }}">{{ data.reputation }}</span>
	{% else %}
		<span class="text-{{ color }} fw-bold ">&#9679;</span>
	{% endif %}
{% endmacro %}
