{#	macro Modal confirm delete question #}
{% macro macro_modal_delete(modal_id="", route="") %}
	<div class="modal fade" id={{ modal_id }} tabindex="-1" aria-labelledby="confirm_deleteLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirm_deleteLabel">Confirm delete</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<a href="{{ route }}">
						<button type="button" class="btn btn-danger btn-sm">delete</button>
					</a>
					<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">close</button>
				</div>
			</div>
		</div>
	</div>
{% endmacro %}
