{% extends "layout.html" %}
{% block title %}Account{% endblock %}
{% block content %}
	{#	section user card #}
	<section>
		<div class="card mb-3 border-0">
			<div class="row">
				<div class="col-2">
					<img class="" src="{{ url_for('static', filename='img/usr_pic/' + current_user.picture) }}" alt="pic">
				</div>
				<div class="col-xl">
					<div class="card-body">
						<h6 class="card-title fw-bold mt-0 fs-4">{{ current_user.user_name }}<a href="{{ url_for('users.route_update_account') }}"><i class="far fa-edit fa-xs ms-2"></i></a></h6>
						<h6 class="card-subtitle mb-2 text-muted">{{ current_user.email }}</h6>
						<h6 class="card-text">questions asked: 1</h6>
						<h6 class="card-text">answers: 1</h6>
						<h6 class="card-text">reputation: 1</h6>
						<h6 class="card-text">
							<small class="text-muted">since: {{ current_user.register_date.strftime('%Y-%m-%d') }}</small>
						</h6>
					</div>
				</div>
			</div>
		</div>

	</section> {# end user card #}
	{# user contents #}
	<section>
		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Questions</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Answers</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Comments</a>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dolorum nulla! Cupiditate facilis
				libero nesciunt, nulla odio tempora ut voluptatum. Adipisci at debitis excepturi illum possimus quaerat
				quo reiciendis veritatis!
			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem debitis delectus dolorem, doloremque
				fugiat id illo incidunt ipsa nostrum, omnis quibusdam quidem rem repellat repellendus. Numquam possimus
				quibusdam tenetur.
			</div>
			<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cum deserunt eaque enim explicabo laboriosam
				nam recusandae saepe sunt. Atque delectus deserunt eum eveniet facilis laboriosam laborum omnis sapiente
				voluptatibus.
			</div>
		</div>
	</section>
	<br>
{% endblock %}
