{% extends "layout.html" %}
{% from '_macros.html' import pagination, votes, answer_pl_sg, comment_pl_sg %}
{% block title %}Home{% endblock %}
{% block content %}
	{% for question in questions.items %}
		<div class="card text-dark bg-light mt-3">
			<div class="card-header d-flex">
				<div class="col-10  fw-bold text-start">
					<span class="badge bg-success">{{ votes(question_votes=question.vote_number) }}</span>&nbsp;
					<a class="text-decoration-none" href="">{{ question.title }}</a>
					<span class="badge bg-primary">{{ find_tag_name(question.tag_id|int).tag_name|e }}</span>
				</div>
				<ul class="col-2 list-inline text-end mb-0">
					<li class="list-inline-item">
						<small class="text-muted">{{ question.submission_time.strftime('%Y-%m-%d') }}</small></li>
					<li class="list-inline-item"><small class="text-muted">{{ question.view_number }} views</small>
					</li>
					<li class="list-inline-item"></li>
				</ul>
			</div>
			<div class="card-body pb-1">
				<div class="row">
					<p class="card-text">{{ question.message|truncate(270, True, '...') }}</p>
					<hr class="m-1">
					<ul class="list-inline text-end mb-0">
						<li class="list-inline-item">
							<span class="badge bg-success"> {{ answer_pl_sg(count_answers(question.question_id|int)) }}</span>
						</li>
						<li class="list-inline-item">
							<span class="badge bg-secondary"> {{ comment_pl_sg(count_comments(question.question_id|int)) }}</span>
						</li>
						<li class="list-inline-item">
							<span class="badge bg-dark"><a class="link-light text-decoration-none" href="">{{ user_info(question.user_id|int).user_name }}</a></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{% endfor %}
	{#pagination #}
	{{ pagination(data_type=questions, previous=url_for('route_home', page=questions.prev_num), route= url_for('route_home', page=page_num), next=url_for('route_home', page=questions.next_num) ) }}
{% endblock content %}

