{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	<div class="row">
		{% for user in users %}
			<article class="section">
				<div class="">
					<div class="">
{#						<a class="mr-2" href="#">{{ user.name }}</a>#}
{#						<small class="text-muted">{{ post.date_posted }}</small>#}
					</div>
{#					<h2><a class="article-title" href="#">{{ post.title }}</a></h2>#}
{#					<p class="article-content">{{ user.email }}</p>#}
				</div>
			</article>
		{% endfor %}
	</div>
{% endblock content %}

