{% extends "layout.html" %}
{% from '_macros.html' import sort_bar, macro_votes, macro_pagination, macro_answer_pl_sg, macro_comment_pl_sg, macro_generate_question_list %}
{% block title %}Home{% endblock %}
{% block content %}
	{{ current_user.is_authenticated }}
	{# sorting bar#}
	{{ sort_bar(route='main.route_home', data=questions, order_direction=asc_desc ) }}
	{# generate questions result #}
	{{ macro_generate_question_list(route_question='questions.route_question' ,item=question, the_list=questions, search_phrase=search_phrase)  }}
	{#pagination #}
	{{ macro_pagination(data_type=questions, page_num=page_num ,previous=url_for('main.route_home', page=questions.prev_num), route= 'main.route_home', next=url_for('main.route_home', page=questions.next_num)) }}
{% endblock content %}

