{% extends "layout.html" %}
{% from '_macros.html' import sort_bar, macro_pagination, macro_generate_question_list %}
{% block title %}Tag{% endblock %}
{% block content %}
	{{ sort_bar(route='questions.route_tag', data=questions, order_direction=asc_desc, tag_id=tag_id ) }}
	{# generate questions result #}
	{{ macro_generate_question_list(route_question='questions.route_question', item=question, the_list=questions) }}
	{#pagination #}
	{{ macro_pagination(data_type=questions, page_num=page_num, tag_id=tag_id,
	 previous=url_for('questions.route_tag', tag_id=tag_id, page=questions.prev_num),
	  route= 'questions.route_tag', next=url_for('questions.route_tag', tag_id=tag_id, page=questions.next_num)) }}
{% endblock content %}
