{% extends "layout.html" %}
{% from '_macros.html' import sort_bar, macro_pagination, macro_generate_question_list %}
{% block title %}tag{% endblock %}
{% block content %}
{# sorting bar #}
{{ sort_bar(func_count_questions=func_questions_no, route='route_tag', data=questions, order_direction=asc_desc ) }}
{# generate questions result #}
{{ macro_generate_question_list(item=question, the_list=questions, route_tag="route_tag")  }}
{#pagination #}
{{ macro_pagination(data_type=questions, page_num=page_num ,previous=url_for('route_tag', page=questions.prev_num), route= 'route_tag', next=url_for('route_tag', page=questions.next_num)) }}
{% endblock content %}
