{% extends "layout.html" %}
{% from '_macros.html' import macro_render_field, macro_upload_picture, macro_render_select_field %}
{% block title %}Test{% endblock %}
{% block content %}


{#{{ answer_vote.value('has_voted') > 0 }}#}
{#{{ answers_list == None }}#}
{#{{ answers_list.all() }}#}
{#	{% for answer in answers_list %}#}
{#		id: {{ answer.answer_id }}&nbsp;{{ func_answer_vote(current_user.user_id|int, answer.answer_id|int).value('has_voted') == None }} <br>#}
{#	{% endfor %}#}

{#{%   if current_user.is_authenticated %}#}
{##}
{#	<p>Im authenticated and my id is {{ current_user.user_id }}</p>#}
{##}
{#{% endif %}#}
{##}
{#	{{ current_user.user_id }}#}
{##}
{#	{% if current_user.user_id == 50 %}#}
{##}
{#		hey!#}
{#	{% endif %}#}

{% for question in questions %}
{{ question.title|truncate(20) }} {{ question.question_id }}<br>
{% endfor %}






{% endblock %}
