{% extends "layout.html" %}
{% from '_macros.html' import macro_render_field, macro_upload_picture %}
{% block title %}Account{% endblock %}
{% block content %}
	{#	section update account #}
	<section>
		<div class="row justify-content-center">
			<form action="{{ url_for('questions.route_update_account') }}" method="post" enctype="multipart/form-data" class=" row w-50">
				{{ form.hidden_tag() }}
				<fieldset>
					<legend class="text-center">Update details</legend>
					{{ macro_render_field(form.username) }}
					{{ macro_render_field(form.email) }}
					{{ macro_render_field(form.password) }}
					{{ macro_upload_picture(form.picture) }}
				</fieldset>
				<div class="form-group my-3">{{ form.submit(class="btn btn-primary") }}</div>
			</form>
		</div>
	</section> {# end user card #}
{% endblock %}
